.search {
  padding: 20px;
  max-width: 1200px; 
  margin: 0 auto;
  text-align: center;
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
}
.search h2 {
  margin-bottom: 20px; 
}
.search input {
  width: 50%; 
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
  font-size: 16px; 
  margin-bottom: 20px; 
}
.search-results {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
  text-align: left; 
}
.search-results div {
  padding: 10px; 
  border: 1px solid #eee; 
  border-radius: 5px; 
}
.search-results div:hover {
  background-color: #f1f1f1; 
}
.search-results p {
  margin: 5px 0; 
}
